.table
{
    margin-top:20px;
    margin-bottom:20px;
    overflow:auto;
    height: 300px;
}
.table tr
{
    display:flex;
    justify-content: space-between;
}
.table tr td
{
    padding :8px;
}
tr:nth-of-type(odd)
{
    background-color:#f3f2f8;
}